<div id="body-devise">
  <h1>Forgot your password?</h1>
  <br>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}, class: "login-form-1") do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", style:"font-size: 15px;" %>
      </div>
  <% end %>

  <div class="links-devise">
    <%= render "users/shared/links" %>
  </div>
</div>