<br>
<%= form_for @post, html: {multipart: true} do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      ADD THUMBNAIL<br>
      <%= f.file_field :image, class: "button-img" %>
    </div>
    <br><br>
    <div class="field">
      <%= f.text_area :title, class: "post-title", rows: 10, placeholder: "Title of your story..." %>
    </div>
    <div class="field">
      <br>
      <%= f.text_area :body, id:"trumbowyg", rows: 30, placeholder: "Content goes here..." %>
    </div>
    <div class="actions">
      <%= f.button %>
    </div>
<% end %>

<script>
    $('#trumbowyg').trumbowyg({
        svgPath: '<%= image_path("icons.svg")%>'
    });

</script>