<div class="main_body">
  <% if user_signed_in? %>
      <p id="intro">
        Hello
        <%= current_user.name.capitalize %>
        <br>
        <span>
          What's new today.. Share your blog
        </span>
      </p>
  <% else %>
      <p id="intro">
        What's new today..
        <br>
        <span>
          You need to Register or Login to post.
        </span>
      </p>
  <% end %>
  <br>
  <br>

  <div id="posts">
    <% @posts.each do |post| %>
        <div class="post">
          <div class="image"><%= link_to (image_tag post.image.url(:medium)), post %></div>
          <h2 id="title"><%= link_to post.title, post %></h2>

          <hr>

          <div class="row1">
            <span>
              by: <%= post.user.name.capitalize %>
            </span>
            <span>
              <i class="fa fa-comments-o"></i>
              <%= post.comments.count %>

              <i class="fa fa-heart" aria-hidden="true"></i>
              <%= post.get_upvotes.size %>
            </span>
          </div>
          <hr>

          <div class="time">--
            <%= time_ago_in_words(post.created_at) %> ago
          </div>
        </div>
    <% end %>
  </div>
</div>



