<div class="content-box">
  <div class="user-content">
    <div class="usr-img">
      <%= link_to (image_tag @post.user.image.url(:small)), '/profile/' + @post.user.id.to_s %>
    </div>
    <div class="other-details">
      <span class="user-name">
        <%= @post.user.name.upcase %>
      </span><span class="follow-link">
      <%= render 'home/follow', post: @post %>
    </span>
      <br>
      <br>
      <div class="cr-time">
        <%= @post.created_at.strftime("%d %B %Y") %>
      </div>
    </div>

    <p id="edit-del">
    <span>
    <% if @post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(@post) %> |
          <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
  </span>
    </p>

    <br>
  </div>
  <br>
  <hr class="hr-asdf">
  <br>
  <h1 class="title"><%= @post.title.capitalize %></h1>
  <br><br>
  <p class="body"><%= simple_format(@post.body, {}, :sanitize => false) %></p>
  <br>
  <br>
  <hr class="hr-asdf">


  <aside class="vote-count bind-<%= @post.id %>">
    <%= link_to like_post_path(@post), method: :put, remote: true, class: 'like' do %>
        <i class="fa fa-angle-double-up"></i>
        <span class="like_count-<%= @post.id %>"><%= @post.get_upvotes.size %></span>
    <% end %>
    <%= link_to dislike_post_path(@post), method: :put, remote: true, class: 'dislike' do %>
        <i class="fa fa-angle-double-down"></i>
        <span class="dislike_count-<%= @post.id %>"><%= @post.get_downvotes.size %></span>
    <% end %>
  </aside>

</div>

<br><br><br>
<div id="comments">
  <h2 style="font-family: Palatino; color: lightslategray;" class="comment_count"><%= @post.comments.count %> Comments</h2>
  <br>
  <hr>
  <div id="comments-info">
    <div id="comment-content">
      <%= render @post.comments, post: @post %>
    </div>
    <%= render "comments/form" %>
  </div>
</div>
