<!DOCTYPE html>
<html>
<head>
  <title>LIMITLESS</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Saira+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>



<header>
    <div id="logo">
      <%= link_to "LIMITLESS", root_path %>
    </div>
    <nav>
      <ul>
        <% if user_signed_in? %>
            <li><%= link_to "Write New Story", new_post_path, class: "button" %></li>
            <li>
              <%= link_to "Users", '/users', class: "button"%>
            </li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button" %></li>

            <li>
              <%= link_to edit_user_registration_path do %>
                <%= (image_tag current_user.image.url(:logo)) %>
              <% end %>
            </li>
        <% else %>
            <li><%= link_to "Sign in", new_user_session_path, class: "button" %></li>
            <li><%= link_to "Sign Up", new_user_registration_path, class: "button" %></li>
        <% end %>
      </ul>
    </nav>

</header>

<div id="yield"><%= yield %></div>


</body>
</html>
